<div class="text-center" *ngIf="isLoading">
  <br /><br />
  <clr-spinner clrMedium clrAssertive></clr-spinner>
  <br /><br />
</div>

<h4>Questions</h4>
<button class="btn btn-icon btn-sm" (click)="isCreate = true">
  <clr-icon shape="plus"></clr-icon>
  Add Question
</button>

<ng-container *ngIf="questions?.length > 0">
  <ol class="list">
    <li *ngFor="let question of questions; let i = index">
      <div>
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              {{ question.narrative }}
            </div>
          </div>
        </div>
        <clr-icon
          shape="pencil"
          class="is-solid is-warning"
          (click)="updateQuestion(question)"
        ></clr-icon>
        &nbsp;<clr-icon
          shape="trash"
          class="is-solid is-danger"
          (click)="deleteQuestion(question)"
        ></clr-icon>
      </div>
    </li>
  </ol>
</ng-container>

<app-create-question
  *ngIf="isCreate"
  (closeModal)="isCreate = false"
  [postId]="postId"
  [chapterId]="chapterId"
></app-create-question>

<app-update-question
  *ngIf="isUpdate"
  [question]="selectedQuestion"
  (closeModal)="isUpdate = false"
></app-update-question>

<app-delete-question
  *ngIf="isDelete"
  [questionId]="selectedQuestion?.questionId"
  (closeModal)="isDelete = false"
></app-delete-question>
