<div class="card workbook-details">
  <div class="card-header">Workbook Item Details</div>
  <div class="card-block">
    <ul class="details-list">
      <li *ngFor="let element of item?.content | keyvalue">
        <strong>{{ element?.value?.questionNarrative }}</strong>
        <br />
        <span>{{ element?.value?.response }}</span>
        <br />
        <small
          ><i class="footnote"
            >{{ getDetails(element?.value?.postId)?.chapterTitle }} :
            {{ getDetails(element?.value?.postId)?.postTitle }}
          </i></small
        >
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal.emit()">
      Close
    </button>
  </div>
</div>
