<div class="card-header">Workbooks</div>
<br />
<button class="btn btn-sm btn-link" type="button" (click)="goBack()">
  &larr; Back
</button>
<br /><br />
<a routerLink="/work-books">Workbooks List </a>
<strong style="font-size: 1.4em"> / </strong> <span>Workbook Details</span>
<br />

<div class="card">
  <div class="card-block">
    <div class="text-center" *ngIf="isLoading">
      <br /><br />
      <clr-spinner clrMedium clrAssertive></clr-spinner>
      <br /><br />
    </div>

    <ng-container *ngIf="!isLoading">
      <div *ngIf="workbook?.length > 0">
        <app-workbooks-posts-list
          [postIds]="uniquePosts"
          [posts]="posts"
          [chapters]="chapters"
          (viewSelected)="getSelectedWorkBookItem($event)"
        ></app-workbooks-posts-list>
      </div>

      <div class="text-center" *ngIf="workbook?.length < 1">
        <clr-icon class="is-info" shape="search" size="72"></clr-icon
        ><br /><br />
        <span class="card-title"> This workbook is still empty!</span>
      </div>
      <br /><br />
    </ng-container>
  </div>
</div>

<app-workbook-details
  *ngIf="isViewDetails"
  [item]="selectedWorkBookItem"
  [posts]="posts"
  [chapters]="chapters"
  (closeModal)="isViewDetails = false"
></app-workbook-details>
