<clr-header>
  <a class="nav-link logo-img">
    <img src="assets/images/logo-main.png" class="logo" alt="Pesepay Logo" />
  </a>

  <div class="header-actions">
    <a class="nav-icon" routerLink="/notifications">
      <clr-icon shape="bell" style="color:#4583d8" size="24"></clr-icon>
    </a>
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon
          shape="user"
          style="color:#4583d8"
          size="28"
        ></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem (click)="authService.logout()">Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div></clr-header
>
