.login-wrapper {
  background: url(../../../../assets/images/taylor-hernandez-NK-N6coeI5Y-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-fill-available;
  background-position: 21rem;
}
