<ng-container *ngIf="category$ | async as category">
  <button class="btn btn-sm btn-link" type="button" (click)="goBack()">
    &larr; Back
  </button>
  <br /><br />
  <!--  <a routerLink="../../">Categories List </a>
  <strong style="font-size: 1.4em"> / </strong> -->
  <span>Category Details</span> <br /><br />

  <div class="card-title">{{ category?.name }}</div>

  <button class="btn btn-sm btn-primary" (click)="updateCategory(category)">
    Update Category
  </button>
  <br />

  <app-list-chapters
    [categoryId]="route.snapshot.paramMap.get('categoryId')"
    [interventionId]="route.snapshot.paramMap.get('interventionId')"
  ></app-list-chapters>

  <app-update-category
    *ngIf="isUpdate"
    [category]="selectedCategory"
    (closeModal)="isUpdate = false"
  ></app-update-category>
</ng-container>
