<div class="card-header">Messaging</div>
<br />

<div class="login" *ngIf="auth.user">
  <h3>All Messages</h3>
  <br />
  <button class="btn btn-sm btn-primary" (click)="isCreateGroup = true">
    Create Group Chat
  </button>

  <div class="chat">
    <ng-container *ngIf="chats$ | async as chats; else loading">
      <div class="msg" *ngFor="let chat of chats">
        <div class="user">
          <span
            id="profileImage"
            [innerHTML]="getInitials(chat?.displayName)"
          ></span>
        </div>
        <a routerLink="chats/{{ chat?.id }}"
          >{{ chat?.displayName }} - {{ chat?.messages?.length }} Messages</a
        >
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="text-center">
        <br /><br />
        <clr-spinner clrMedium clrAssertive></clr-spinner>
        <br /><br /></div
    ></ng-template>
  </div>
</div>

<app-create-group-chat
  *ngIf="isCreateGroup"
  (closeModal)="isCreateGroup = false"
></app-create-group-chat>
