<div class="card-header text-center">Users</div>
<br />

<div class="text-center" *ngIf="isLoading">
  <br /><br />
  <clr-spinner clrMedium clrAssertive></clr-spinner>
  <br /><br />
</div>

<clr-datagrid *ngIf="!isLoading">
  <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
  <clr-dg-column [clrDgField]="'displayName'"> Display Name</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users">
    <clr-dg-cell>{{ user?.email }}</clr-dg-cell>
    <clr-dg-cell>{{ user?.displayName }}</clr-dg-cell>
    <clr-dg-cell
      ><button class="btn btn-sm" routerLink="view-details/{{ user?.uid }}">
        View Workbook
      </button></clr-dg-cell
    >
  </clr-dg-row>

  <clr-dg-footer>
    {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
    {{ pagination.totalItems }} Users
    <clr-dg-pagination
      #pagination
      [clrDgTotalItems]="users?.length"
    ></clr-dg-pagination
  ></clr-dg-footer>
</clr-datagrid>
