<div class="card-header text-center">Users</div>
<br />

<div class="text-center" *ngIf="isLoading">
  <br /><br />
  <clr-spinner clrMedium clrAssertive></clr-spinner>
  <br /><br />
</div>

<ng-container *ngIf="!isLoading">
  <clr-button-group>
    <clr-button class="btn btn-sm" (click)="isCreate = true">
      <clr-icon shape="plus"></clr-icon>&nbsp;Create User
    </clr-button>
  </clr-button-group>
  <div class="clr-row" style="margin-top: 0.75rem;">
    <div class="clr-col-12 clr-col-md-4">
      <clr-input-container>
        <label>Search Users</label>
        <input
          clrInput
          type="text"
          placeholder="Email, name, or role"
          [value]="searchTerm"
          (input)="onSearchTermChange($any($event.target).value)"
        />
      </clr-input-container>
    </div>
  </div>
  <br />
  <clr-datagrid>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Display Name</clr-dg-column>
    <clr-dg-column>Role</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of filteredUsers">
      <clr-dg-cell>{{ item?.email }}</clr-dg-cell>
      <clr-dg-cell>{{ item?.displayName }}</clr-dg-cell>
      <clr-dg-cell>{{ item?.role }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer
      >{{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ filteredUsers?.length }} Users
      <clr-dg-pagination
        #pagination
        [clrDgTotalItems]="filteredUsers?.length"
      ></clr-dg-pagination
    ></clr-dg-footer>
  </clr-datagrid>
</ng-container>

<app-create-user
  *ngIf="isCreate"
  (closeModal)="isCreate = false"
></app-create-user>
